doctype transitional
head
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title Actionable emails e.g. reset password
    style
        include main.css
body
    table.body-wrap
        tr
            td
            td.container(width='600')
                .content
                    table.main(width='100%' cellpadding='0' cellspacing='0')
                        block content
                    .footer
                        table(width='100%')
                            tr
                                td.aligncenter.content-block
                                    | &copy; Events254 #{new Date().getFullYear()}
                                    a(href='http://events254.co.ke') @events254
                                    |  on Twitter.
            td
