.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.ProseMirror [contenteditable="false"] {
  white-space: normal;
}

.ProseMirror [contenteditable="true"] {
  white-space: normal;
}

[contenteditable] {
  outline: 0px solid transparent;
}
.custom-shadow {
  text-shadow: 2px 0px 14px #000000;
}

.no-overflow {
  overflow: hidden!important;
}
