.layout-enter-active, .layout-leave-active {
  transition: opacity 0.5s;
}

.layout-enter, .layout-leave-active {
  opacity: 0;
}

.page-enter-active, .page-leave-active {
  transition: opacity 0.5s;
}

.page-enter, .page-leave-to {
  opacity: 0;
}

body {
  line-height: inherit;
}

.ProseMirror [contenteditable="false"] {
  white-space: normal;
}

.ProseMirror [contenteditable="true"] {
  white-space: normal;
}

[contenteditable] {
  outline: 2px solid transparent;
}

.custom-shadow {
  text-shadow: 2px 0px 14px #f0f0f0;
}

.no-overflow {
  overflow: hidden!important;
}

@media only screen and (max-width: 768px) {
  .sticky-top {
    position: sticky!important;
    position: -webkit-sticky!important;
    top: 0!important;
    z-index: 5;
  }
}

@media only screen and (min-width: 769px) {
  .sticky-top {
    position: sticky!important;
    position: -webkit-sticky!important;
    top: 9.2vh!important;
    z-index: 5;
  }
}