extends ./layouts/main.pug
block content
    tr
        td.content-wrap
            table(width='100%' cellpadding='0' cellspacing='0')
                tr
                    td.content-block
                        | Hi {User.name}
                        | We have received a password reset request for your account
                tr
                    td.content-block
                        | If you did not make this request, You can safely ignore this email. Otherwise, click "Reset Password" button below
                tr
                    td.content-block
                        a.btn-primary(href=url) Reset Password
                tr
                    td.content-block
                        p If you are having trouble with the "Reset Password" button, paste the link below directly to your browser.
                        a(href=url) #{url}
                        
